$message-code: #fff;


// Alert Messages - success
$message-code: #fff;
$message-success: #F4FDF0;
$message-success-border: #3C763D;

// Alert Message Danger
$message-danger: #fdf7f7;
$message-danger-border: #d9534f;

// Alert Message Warning
$message-warning: #fcf8f2;
$message-warning-border: #f0ad4e;


// Alert Message info
$message-info: #f4f8fa;
$message-info-border: #5bc0de;


// Alert Message default
$message-default: #EEE;
$message-default-border: #B4B4B4;
$message-degault-h4: #444;

// Alert Message notice
$message-notice: #FCFCDD;
$message-notice-border: #BDBD89;
$message-notice-h4: #444;
